h1 {
    color: blue;
    font-family: verdana;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: blue;
    font-family: verdana;
    font-size: 20px;
}
p {
    font-family: verdana;
    font-size: 12px;
}
ul{
    font-family: verdana;
    font-size: 12px;   
}